*.log 
*.seed  
*.csv 
*.dat 
*.out 
*.pid 
*.gz 
node_modules/
data/
.ftpconfig
config.json
thumbs.db  
pids 
logs 
results 
build 
lien_invitation.txt
package-lock.json                                                                                                    
package.json 